<form method="post" action="{{ path('fotw_delete', {'id': fotw.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fotw.id) }}">
    <button class="btn bg-red clr-white bg-red">Delete</button>
</form>
