{% extends 'base.html.twig' %}

{% block title %}New Fotw{% endblock %}

{% block body %}
    <h1>Create new Fotw</h1>

    {{ include('fotw/_form.html.twig') }}

    <a href="{{ path('fotw_index') }}">back to list</a>
{% endblock %}
