:root {
  --clr-orange-400: hsl(35, 91%, 61%);
  --clr-orange-600: hsl(35, 64%, 53%);
  --clr-grey-300: hsl(0, 0%, 23%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaeaea;
  min-height: 100vh;
  font-family: sans-serif;
}
header {
  background-color: var(--clr-orange-400);
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  width: 33%;
}

.user {
  margin-right: 1em;
  color: white;
}

.admin-panel {
  width: 100%;
}

.admin-panel li {
  width: 25%;
}
.admin-panel li a {
  font-size: 1rem;
}

nav {
  background-color: var(--clr-orange-400);
  position: sticky;
  top: 0;
}

.link {
  text-decoration: none;
  color: var(--clr-orange-400);
  transition: all 0.3s ease;
  outline: none;
}
.clr-white {
  color: white;
}
.link:hover,
.link:focus-visible {
  color: var(--clr-orange-600);
  text-decoration: underline;
}
.link.clr-white:hover,
.link.clr-white:focus-visible {
  color: white;
}

.title-wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

h1.title {
  grid-column: 2;
  font-size: 2.5em;
  text-align: center;
  margin: 0.75em 0;
  color: var(--clr-grey-300);
}

ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
ul li {
  list-style: none;
  width: 20%;
}

ul a {
  font-size: 1.2rem;
  display: block;
  text-align: center;
  padding: 0.75em 0;
  height: 100%;
  text-decoration: none;
  text-shadow: 0.05em 0.05em 0.25em rgba(15, 15, 15, 0.5);
  background-color: var(--clr-orange-400);
  transition: background-color 0.15s ease;
}

ul a:hover,
ul a:focus-visible {
  background-color: var(--clr-orange-600);
  outline: none;
}

main {
  min-height: 75vh;
  margin: 1.5em 4em;
}

footer {
  display: grid;
  place-items: center;
  justify-items: stretch;
  height: clamp(8em, 32vh, 16em);
  background-color: #333333;
  color: #909090;
}

.infos {
  padding: 1em 0;
  font-style: italic;
  background-color: #252525;
  text-align: center;
}

.news-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news {
  width: fit-content;
  margin: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: var(--clr-grey-300);
  transition: box-shadow .3s ease;
}

.news:hover, .news:focus-visible {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 4px 4px -1px;
}

.news-title p {
  font-size: 1.5rem;
  padding: 1.5em 0.75em;
}

.news a {
  text-decoration: none;
  display: block;
  color: var(--clr-grey-300);
  outline: none;
}
