:root {
  --clr-orange-400: hsl(35, 91%, 61%);
  --clr-orange-600: hsl(35, 64%, 53%);
  --clr-grey-300: hsl(0, 0%, 23%);
  --clr-grey-500: hsl(0, 0%, 40%);
  --clr-red-400: hsl(0, 53%, 49%);
  --clr-red-600: hsl(0, 100%, 64%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaeaea;
  min-height: 100vh;
  font-family: sans-serif;
}
header {
  background-color: var(--clr-orange-400);
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo-wrapper {
  width: 33%;
}
header .logo {
  width: 100%;
}

.user {
  margin-right: 1em;
  color: white;
}

.admin-panel {
  width: 100%;
}

.admin-panel li a {
  font-size: 1rem;
}

nav {
  background-color: var(--clr-orange-400);
  position: sticky;
  top: 0;
}

.link {
  text-decoration: none;
  color: var(--clr-orange-400);
  transition: all 0.3s ease;
  outline: none;
}
.clr-white {
  color: white;
}
.link:hover,
.link:focus-visible {
  color: var(--clr-orange-600);
  text-decoration: underline;
}
.link.clr-white:hover,
.link.clr-white:focus-visible {
  color: white;
}

.title-wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

h1.title {
  grid-column: 2;
  font-size: 2.5em;
  text-align: center;
  margin: 0.75em 0;
  color: var(--clr-grey-300);
}

.date {
  grid-column: 1;
  color: var(--clr-grey-500);
}
.date span {
  font-style: italic;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

ul li {
  list-style: none;
  width: 20%;
}

ul a {
  font-size: 1.2rem;
  display: block;
  text-align: center;
  padding: 0.75em 0;
  height: 100%;
  text-decoration: none;
  text-shadow: 0.05em 0.05em 0.25em rgba(15, 15, 15, 0.5);
  background-color: var(--clr-orange-400);
  transition: background-color 0.15s ease;
}

ul a:hover,
ul a:focus-visible {
  background-color: var(--clr-orange-600);
  outline: none;
}

main {
  min-height: 36vh;
  margin: 1.5em 4em;
}

footer {
  display: grid;
  place-items: center;
  justify-items: stretch;
  height: clamp(8em, 32vh, 16em);
  background-color: #333333;
  color: #909090;
}

.infos {
  padding: 1em 0;
  font-style: italic;
  background-color: #252525;
  text-align: center;
}

.news-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

.news {
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: var(--clr-grey-300);
  transition: box-shadow 0.3s ease;
}

.news:hover,
.news:focus-visible {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 4px 4px -1px;
}

.news-title p {
  font-size: 1.5rem;
  padding: 1.5em 0.75em;
  text-align: center;
}

.news-content {
  display: grid;
  place-items: center;
}

.news-date span {
  font-style: italic;
}

.news a {
  text-decoration: none;
  display: block;
  color: var(--clr-grey-300);
  outline: none;
}

main > form {
  text-align: center;
}

/* aled j'ai jamais vu ca c'est hideux mais flemme */
main > form > * > * {
  margin: 1em;
}

.required::after {
  content: "* ";
}

#yt-iframe-wrapper {
  width: 90%;
  aspect-ratio: 2 / 1;
  margin: auto;
}

.btn {
  padding: 0.75em 1.5em;
  text-decoration: none;
  outline: none;
  text-shadow: 0.05em 0.05em 0.25em rgba(15, 15, 15, 0.5);
  background-color: var(--clr-orange-400);
  cursor: pointer;
  border: none;
  border-radius: 0.75em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: background-color 0.3s ease;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--clr-orange-600);
}

.bg-red {
  background-color: var(--clr-red-600);
}

.btn.bg-red:hover,
.btn.bg-red:focus-visible {
  background-color: var(--clr-red-400);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 2rem 0;
  font-size: 1.1rem;
}

.actions.form-actions {
  justify-content: center;
}

article .article-content {
  margin: 2em;
}
