{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<ul>
    <li><a href="user" class="link clr-white">Users list</a></li>
    <li><a href="" class="link clr-white"></a></li>
    <li><a href="" class="link clr-white"></a></li>
    <li><a href="" class="link clr-white"></a></li>
</ul>
{% endblock %}
