{% extends 'base.html.twig' %}

{% block title %}New Video{% endblock %}

{% block content %}
    <h1 class="title">Create new Video</h1>

    {{ include('video/_form.html.twig') }}
    <a href="{{ path('video_index') }}" class="btn clr-white">back to list</a>
{% endblock %}
