{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block content %}
<div class="title-wrapper">
    <h1 class="title">Latest News</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('news_new') }}" class="link">Create new</a>
    {% endif %}
</div>

<div class="news-wrapper">
    {% for newsElement in news %}

    <article class="news">
        <a href="{{ path('news_show', {'id': newsElement.id}) }}">
            <div class="news-title">
                <p>{{ newsElement.title }}</p>
            </div>
            <div class="news-content">
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('news_edit', {'id': newsElement.id}) }}" class="link">Edit</a>
                {% endif %}
            </div>
        </a>
    </article>

    {% endfor %}
</div>
{% endblock %}